parameters:
  level: max
  paths:
    - src
  excludePaths:
    - tests/*
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Static call to instance method Hyperf\\HttpServer\\Router\\Router::[a-zA-Z0-9\\_]+\(\)#'
    - '#Static call to instance method Hyperf\\DbConnection\\Db::[a-zA-Z0-9\\_]+\(\)#'
    - '#Property .* has unknown class .* as its type#'
    - '#Call to an undefined method .*#'
  customRulesetUsed: true